@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
.mymargin {
  margin-top: 2em;
  text-align: center;
  font-size: 60px;
  font-family: "Recursive", sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.marginContent {
  margin-top: 80px;
  margin-bottom: 80px;
}
.myMainFont {
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  font-family: "Recursive", sans-serif;
}

.myFont {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  font-family: "Recursive", sans-serif;
}
.myFont2 {
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: 700;
  font-family: "Recursive", sans-serif;
}

.detailList {
  margin-top: 180px;
  margin-bottom: 180px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  font-family: "Recursive", sans-serif;
}
.myTextFont {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 50px;
  font-family: "Recursive", sans-serif;
}

.layoutFonts {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  font-weight: 700;
  font-family: "Recursive", sans-serif;
}

.center {
  text-align: center;
}

.border {
  border: 20 !important;
  border-color: white !important;
}
.img {
  border: 20 !important;
  border-color: white !important;
  max-height: 600px;
}
.myImgBinar {
  width: 15% !important;
  margin: auto;
}
.myImg {
  width: 35% !important;
  margin: auto;
}
.imgContent {
  border-radius: 30px 120px 30px 60px !important;
}
.imgContent2 {
  border-radius: 30px !important;
}

.gameFont {
  color: white;
  text-align: bottom;
  font-weight: 400;
  font-family: "Recursive", sans-serif;
}

.bgColor {
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-family: "Recursive", sans-serif;
}

.jumbotron {
  margin-bottom: 0;
}

.listFooters {
  background-color: rgb(255, 193, 7) !important;
  min-height: 300px;
  border: 0 !important;
  text-align: center;
}

@media (min-width: 576px) and (max-width: 767px) {
  .textRespon {
    font-size: 18px;
  }
}
