.test {
  text-align: center;
  padding-left: 5% !important;
  padding-right: 5% !important;
}
.test2 {
  padding-top: 5% !important;
  padding-bottom: 5% !important;
}
.active {
  background-color: grey;
}

@media screen and (min-width: 768px) {
  .banner {
    margin: auto;
    width: 25% !important;
    /* padding: 48px !important; */
    background-color: green;
    -ms-transform: rotate(-20deg); /* IE 9 */
    transform: rotate(-20deg);
  }
}
@media screen and (max-width: 767px) {
  .banner {
    margin: auto;
    width: 15% !important;
    background-color: green;
    -ms-transform: rotate(-20deg); /* IE 9 */
    transform: rotate(-20deg);
  }
}
