.landing {
  height: 100px;
  width: 200px;
}

.judul {
  color: azure;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  padding-top: 5%;
  font-weight: bold;
  padding-bottom: 2%;
  text-align: center;
}

col {
  justify-content: baseline;
}
