.Gameslider {
  width: 100%;
  margin: 4rem 0;
  text-align: center;
  color: azure;
}

.Gameslider > div {
  display: flex;
  justify-content: center;
}

.Gameslider > div p {
  margin: 1rem 2rem;
  font-size: 1.2rem;
}

.bold {
  font-weight: 700;
}

/* .Gameslider.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.2rem;
    padding: 1rem;
} */

.Gameslider.img {
  width: 0%;
  height: 50%;
}

@media screen and (max-width: 940px) {
  .Gameslider {
    margin: 1rem 0;
  }

  .Gameslider > div p {
    margin: 1rem;
    font-size: 1rem;
  }

  /* .Gameslider.container {
        grid-template-columns: 1fr;
        grid-gap: .5rem;
    } */
}

@media screen and (max-width: 478px) {
  .Gameslider > div p {
    margin: 1rem 0.5rem;
  }
}

.pilihan {
  margin: 1rem 0.5rem;
  height: 200px;
  width: 250px;
}
