.background {
  background-image: url(https://images.pexels.com/photos/1341279/pexels-photo-1341279.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  height: fit-content;
  width: fit-content;
  /* opacity: 0.5; */
}

.second {
  background-image: url(https://images.pexels.com/photos/5685087/pexels-photo-5685087.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  height: fit-content;
  width: fit-content;
}

.footer {
  background-color: dimgray;
}

#navbar-global a {
  text-decoration: none !important;
  color: inherit !important;
}
#navbar-global a:hover {
  color: inherit !important;
  text-decoration: none !important;
  cursor: pointer;
}
